.page {

}


.head {
    height: 80vh;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.btn {
    width: 150px;
}

.formTitle {
    font-size: 20px;
    font-weight: bold;
}

.formWrapper {

}

.formContainer {
    margin-top: 10px;
}

.input {
    margin-top: 10px;
}

.close {
    color: red;
    margin-left: 20px;
    cursor: pointer;
}

.addWrapper {
    margin-top: 20px;
    text-align: center;
}

.add {
    color: #4caf50;
    cursor: pointer;
    font-size: 40px;
}